
<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pow_captcha</name>
	<displayName><![CDATA[Pow Captcha]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Pow Captcha for PrestaShop]]></description>
	<author><![CDATA[aeyoll]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
